h1 {
  color:deeppink;
  text-align:left;
}
p {
  font-family:sans-serif;
  font-size: 20px;
}
nav {
    font-family:cursive;
    font-size: 20px;
    list-style-type: none;
}
ul {
    font-family:sans-serif;
    font-size: 20px;
    color:teal;
}
section {
  display: block;
    color:rebeccapurple;
}
footer {
    color:lightseagreen;
    font-size: 15px;
    font-family:cursive;
}
 